*, 
::after, 
::before {
    box-sizing: border-box;
}

ul[class], 
ol[class] {
  list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
}

body.hidden {
    overflow: hidden;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .footer {
    flex-shrink: 1;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu__link {
    text-decoration: none;
    color: #666666;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
}

.menu__info {
    display: none;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0 0;
    margin: 20px 0 0;
    border-top: 1px solid #cecece;
}

.menu-mob {
    display: none;
    width: 26.25px;
    height: 17.5px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin-right: 9px;
}

.menu-mob img {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .3s ease;
}

.menu-mob__close {
    opacity: 0;
    z-index: -1;
}

.menu-mob.opened .menu-mob__close {
    opacity: 1;
    z-index: 1;
}

.menu-mob.opened .menu-mob__menu {
    opacity: 0;
    z-index: -1;
}

.button {
    padding: 0;
    background: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 12px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    min-width: 119px;
    color: #fbfbfb;
    transition: .3s ease-in;
}

.button_bg {
    background: #0b457f;
}

.button_bg:hover {
    background: #006cd8;
}

.button_border {
    border: 1px solid #ffffff;
    color: #fff; 
}

.button_border:hover {
    background: rgba(255, 255, 255, 0.15);
}

.button_lg {
    width: 180px;
}

.button_md {
    width: 143px;
}

.menu__button {
    display: none;
    width: 199px;
    height: 45px;
    margin: 20px 0 0;
}

.logo {
    max-width: 209px;
}

.route-block {
    display: flex;
    align-items: center;
    column-gap: 32px;
    color: #666666;
    font-size: 12px;
    line-height: 1.25;
}

.route-block__item {
    position: relative;
    padding-left: 24px;
    text-decoration: none;
}

.route-block__item_loc {
    cursor: pointer;
}

.route-block__item::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 17px;
    left: 0;
    top: -2px;
}

.route-block__item_map::before {
    background-image: url(../assets/images/icons/map-pin.svg);
}

.route-block__item_loc::before {
    background-image: url(../assets/images/icons/location.svg);
}

.clock-block {
    color: #666666;
    font-size: 12px;
    line-height: 1.25;
}

.clock-block__item {
    position: relative;
    padding-left: 24px;
}

.clock-block__item::before {
    content: '';
    position: absolute;
    background-image: url(../assets/images/icons/clock.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    height: 16px;
    left: 0;
    top: -1px;
}

.title {
    margin: 0;
    font-family: 'Inter';
    font-weight: 500;
    color: #3e3e3e;
}

.title_h2 {
    font-size: 24px;
    line-height: 1.25;
}

.title_h3 {
    font-size: 18px;
    line-height: 1.22;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.service-card {
    padding: 32px;
    border-radius: 12px;
    color: #ffffff;
    background-image: url(../assets/images/bg-services.jpeg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    min-height: 250px;
}

.service-card_span {
    grid-row: span 2;
    padding-bottom: 311px;
}

.service-card_show {
    background-image: url(../assets/images/bg-services2.jpeg);
}

.service-card_booking {
    background-image: url(../assets/images/bg-services3.jpeg);
    order: 4;
}

.service-card__image {
    position: absolute;
    z-index: 2;
}

.service-card_diagnosis .service-card__image {
    bottom: 13px;
    left: 12px;
    width: 400px;
}

.service-card_show .service-card__image {
    bottom: -12px;
    right: -50px;
    width: 231px;
}

.service-card_booking .service-card__image {
    bottom: 0;
    right: 9px;
    width: 125px;
}

.service-card_rating .service-card__image {
    bottom: 13px;
    right: 11px;
    width: 347px;
}

.service-card_booking .service-card__desc {
    max-width: 294px;
}

.service-card::after {
    content: '';
    position: absolute;
    background-color: rgba(18, 18, 18, 0.3);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 1;
    display: none;
}

.service-card_show::after {
    background-image: url(../assets/images/icons/play.svg);
    background-size: 54px 62px;
    width: 195px;
    height: 195px;
    right: 57px;
    bottom: 0;
    display: block;
}

.service-card_rating::after {
    background-image: url(../assets/images/icons/search.svg);
    background-size: 133px 154px;
    width: 331px;
    height: 331px;
    left: -43px;
    bottom: -70px;
    display: block;
}

.service-card__info {
    max-width: 320px;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 100%;
}

.service-card__info-top {
    flex-grow: 1;
}

.service-card__title {
    margin: 0 0 12px;
    color: inherit;
}

.service-card__desc {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
}

.service-card__button {
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: 0.46px;
    height: 45px;
    padding: 14px 26px;
    width: fit-content;
}

.header {
    padding: 12px 0 13px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.149);
    background: #fbfbfb;
}

.header__top {
    padding: 0 0 12px;
    position: relative;
}

.header__bottom {
    padding: 12px 0 0;
    border-top: 1px solid #cecece;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right {
    display: flex;
    justify-content: flex-end;
    column-gap: 56px;
    align-items: center;
}

.header__button {
    width: 204px;
    height: 40px;
    line-height: 1.7;
}

.services {
    padding: 56px 0;
}

.services__title {
    margin: 0 0 32px;
}

/* md */
@media(max-width: 1199px) {
    .container {
        max-width: 892px;
    }

    .header__right {
        column-gap: 32px;
    }

    .header__button {
        width: 199px;
    }

    .header__menu {
        display: none;
        position: absolute;
        background: #fff;
        padding: 20px;
        height: 100vh;
        position: fixed;
        top: 68px;
        right: 0;
        width: 100%;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.149);
        z-index: 20;
    }

    .menu__list {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .menu__link {
        font-size: 20px;
        font-weight: 500;
    }

    .menu.opened {
        display: block;
    }

    .menu-mob {
        display: block;
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .service-card {
        background-image: url(../assets/images/bg-services.jpeg);
        min-height: auto;
    }

    .service-card_span {
        grid-row: auto;
        padding-bottom: 32px;
    }

    .service-card_booking {
        order: initial;
    }

    .service-card::after {
        display: none;
    }

    .service-card__image {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .service-card__image img{
        max-height: 100%;
    }

    .service-card .service-card__image {
        right: 6px;
        left: auto;
        bottom: 0;
        width: 217px;
        height: 93px;
    }

    .service-card_booking .service-card__image {
        right: 30px;
    }

    .services__title {
        margin: 0 0 32px;
        max-width: 660px;
    }

    .service-card_booking .service-card__desc {
        max-width: 100%;
    }

    .service-card__button {
        width: 148px;
        padding: 14px 10px;
    }
}

/* sm */
@media(max-width: 899px) {
    .container {
        max-width: 720px;
    }

    .header__bottom {
        display: none;
    }

    .header__top {
        padding: 0;
    }

    .services-grid {
        grid-template-columns: 1fr;
    }

    .service-card .service-card__image {
        right: 20px;
        width: 287px;
        height: 123px;
    }

    .service-card_booking .service-card__image {
        right: 40px;
    }
    
}

/* xs*/
@media(max-width: 599px) {
    .container {
        max-width: 100%;
    }

    .title_h2 {
        font-size: 16px;
    }

    .title_h3 {
        font-size: 16px;
    }

    .route-block {
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
    }

    .menu__info {
        display: flex;
    }

    .menu__button {
        display: inline-block;
    }

    .header {
        padding: 18px 0 16px;
    }

    .header__menu {
        top: 63px;
    }
    
    .header__button {
        display: none;
    }

    .services {
        padding: 36px 0;
    }

    .services__title {
        margin: 0 0 24px;
        max-width: 300px;
    }

    .service-card {
        padding: 16px;
    }

    .service-card__desc {
        font-size: 14px;
        max-width: 284px;
    }

    .service-card_booking .service-card__desc {
        max-width: 294px;
    }

    .service-card__title {
        margin: 0 0 8px;
        max-width: 215px;
    }

    .service-card__info {
        gap: 33px;
        max-width: 100%;
    }

    .service-card__button {
        height: 41px;
        padding: 12px 0;
    }

    .service-card .service-card__image {
        right: 8px;
        width: 149px;
        height: 68px;
    }

    .service-card_booking .service-card__image {
        right: 26px;
    }
}